<!DOCTYPE html>
<html>
	<head>
		<title>My First Node App</title>

		<style>
			html, body {
				margin: 0;
				padding: 0;
			}

			#container {
				margin: 0 auto;
				width: 800px;
			}

			.item {
				background: blue;
				display: inline-block;
				height: 300px;
				margin: 10px;
				width: 300px;
			}
		</style>
	</head>

	<body>
		<div id="greeting">
			<h1>
				Hello, world!
			</h1>
		</div>

		<div id="container">
			<div class="item">
				This is an item.
			</div>
			<div class="item">
			</div>
			<div class="item">
			</div>
			<div class="item">
			</div>
			<div class="item">
			</div>
		</div>
	</body>
</html>